@import "../../styles/mixins.scss";

#homepage {
  align-items: center;
  display: flex;
  background-image: linear-gradient(135deg, black 30%, #ffbd69 70%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  background-repeat: repeat;
  height: 100vh;
  text-align: center;
  margin: 0;
  width: 100vw;

  @include respond(phone) {
    background-position: center;
  }
}

.homepage {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: auto;

  .logocontainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.25rem;
    img {
      @include respond(phone) {
        max-width: 90vw;
        margin-top: 3.875rem;
      }
    }
  }

  .valiotsikko {
    font-family: "Lato", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
    font-size: 1.25rem;
    padding: 0.625rem;
    margin-top: -6.625rem;
    font-style: italic;
    opacity: 0.8;

    @include respond(phone) {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      color: #ffbd59;
      margin-top: -4.5rem;
    }
  }

  .formcontainer {
    text-align: center;

    @include respond(phone) {
      margin-top: -2.5rem;
    }
  }
}
