@import "../../styles/mixins.scss";

#homepage {
  align-items: center;
  display: flex;
  background-image: url("../../images/taustakuva2.jpg");
  background-repeat: repeat;
  height: 100vh;
  text-align: center;
  margin: 0;

  @include respond(phone) {
    background-position: center;
    background-repeat: repeat;
  }
}

.homepage {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: auto;
  background-color: black;

  .logocontainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.25rem;
    img {
      @include respond(phone) {
        max-width: 90vw;
        margin-top: 21.875rem;
      }
    }
  }

  .textcontainer {
    align-items: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #ffbd59;
    text-align: center;
    padding: 0.625rem;
    margin-top: -0.625rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
    font-weight: bold;
    font-size: 1.688rem;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5);

    @include respond(phone) {
      margin-left: 1.875rem;
      margin-right: 1.875rem;
      margin-bottom: 0rem;
      font-size: 1.188rem;
      margin-top: 1.875rem;
    }
  }

  .valiotsikko {
    font-family: "Lato", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 3.125rem;
    color: #ffbd59;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.625rem;
    margin: 0.625rem;
    font-style: italic;
    text-decoration: underline;

    @include respond(phone) {
      margin-top: 10.625rem;
      font-size: 1.125rem;
    }
  }

  .formcontainer {
    text-align: center;

    @include respond(phone) {
      margin-top: -2.188rem;
    }
  }

  .photocred {
    font-family: "Lato", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    color: white;

    @include respond(phone) {
      bottom: 0.313rem;
    }
  }
}
